version: "3.8"

x-common-dotnet-env: &dotnet-env
  OTLP_ENDPOINT: http://jaeger:4317
  ASPNETCORE_ENVIRONMENT: Development

services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  basket-api:
    image: basket/api
    build:
      context: ./src
      dockerfile: Dockerfile.Basket.api
    environment:
      <<: *dotnet-env
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Default: host=host.docker.internal;user id=postgres;password=123;database=BasketDb
      RabbitMq__Host: rabbitmq
      RabbitMq__Username: guest
      RabbitMq__Password: guest
    ports:
      - "7000:80"
    depends_on:
      - jaeger
      - rabbitmq

  catalog-api:
    image: catalog/api
    build:
      context: ./src
      dockerfile: Dockerfile.Catalog.api
    environment:
      <<: *dotnet-env
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Default: host=host.docker.internal;user id=postgres;password=123;database=CatalogDb
      RabbitMq__Host: rabbitmq
      RabbitMq__Username: guest
      RabbitMq__Password: guest
    ports:
      - "6000:80"
    depends_on:
      - jaeger
      - rabbitmq

  ordering-api:
    image: ordering/api
    build:
      context: ./src
      dockerfile: Dockerfile.Ordering.api
    environment:
      <<: *dotnet-env
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Default: host=host.docker.internal;user id=postgres;password=123;database=OrderingDb
      RabbitMq__Host: rabbitmq
      RabbitMq__Username: guest
      RabbitMq__Password: guest
    ports:
      - "5000:80"
    depends_on:
      - jaeger
      - rabbitmq

  ordering-service:
    image: ordering/worker
    build:
      context: ./src
      dockerfile: Dockerfile.Ordering.worker
    environment:
      <<: *dotnet-env
      ConnectionStrings__Default: host=host.docker.internal;user id=postgres;password=123;database=OrderingDb
      RabbitMq__Host: rabbitmq
      RabbitMq__Username: guest
      RabbitMq__Password: guest
    depends_on:
      - jaeger
      - rabbitmq